<launch>
    <node pkg="differential_drive" type="pid_velocity.py" name="lpid_velocity" output="screen">
        <remap from="wheel" to="lwheel"/>
        <remap from="motor_cmd" to="lmotor"/>
        <remap from="wheel_vtarget" to="lwheel_vtarget"/>
        <remap from="wheel_vel" to="lwheel_vel"/>
        <rosparam param="base_width">0.14</rosparam>
        <rosparam param="ticks_meter">330</rosparam>
        <rosparam param="Kp">100</rosparam>
        <rosparam param="Ki">500</rosparam>
        <rosparam param="Kd">2</rosparam>
        <rosparam param="out_min">-100</rosparam>
        <rosparam param="out_max">100</rosparam>
        <rosparam param="rate">30</rosparam>
        <rosparam param="timeout_ticks">4</rosparam>
        <rosparam param="rolling_pts">5</rosparam>
    </node>
</launch>